/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rebeccapurple;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: white;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 1em;
}

a{
    text-decoration: none;
    color: white;
    padding: 1em;
}
a:hover{
    background: rgb(44, 21, 66);
    padding: 100vh 1em;
}

input{
    padding: 0.8em 1em;
    border-radius: 10px;
    border: none;
}
input:focus{
    outline: none;
}
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 0.9em;
  overflow-x: hidden;
}
main {
  flex: 1 0 auto;
  display: flex;
}
aside {
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}
/*font size for the icons*/
aside i {
  cursor: pointer;
}
aside i.fa {
  font-size: 0.9em;
}
.content {
  display: flex;
  flex: 1 0 auto; /*this makes sure the section grows o fill the entire available space*/
  flex-direction: column;
}
.music-head img {
  max-width: 200px;
}
.music-head {
  flex: 0 0 280px;
  display: flex;
  padding: 40px;
  background-color: #4e4e4e;
}
.catty-music {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: #fff;
  padding-left: 50px;
}

.catty-music div:nth-child(1) {
  margin-bottom: auto;
}

.catty-music div:nth-child(2) {
  margin-top: 0;
}

.catty-music div:nth-child(2) i.fa {
  font-size: 0.9em;
  padding: 0 0.7em;
  font-weight: 300;
}
.catty-music div:nth-child(1) p:first-child {
  font-size: 1.8em;
  margin: 0 0 10px;
}

.catty-music div:nth-child(1) p:not(:first-child) {
  font-size: 0.9em;
  margin: 2px 0;
}

.music-list {
  flex: 1 0 auto;
  list-style-type: none;
  padding: 5px 10px 0px;
}
li {
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-height: 50px;
}
li p {
  flex: 0 0 25%; /*This is the sweet sauce*/
}
li span.catty-cloud {
  border: 1px solid black;
  font-size: 0.6em;
  padding: 3px;
}

li:nth-child(2n) {
  background-color: #f2f2f2;
}
footer {
  flex: 0 0 90px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-color: rgba(61, 100, 158, 0.9);
}
.info {
  flex: 2;
  display: flex;
  align-items: center;
}
.info img {
  max-width: 90px;
}
.song h1,
p {
  padding: 0.5em;
}
.button {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.button i {
  cursor: pointer;
  font-size: 1.5rem;
}

/* ! Responsive */
@media screen and (max-width: 425px) {
  /*write your css in this code block*/
  aside, .music-list li p:nth-child(2), .music-list li p:nth-child(4), .info img, .button i:nth-child(4), .button i:nth-child(5), .catty-music div:nth-child(1) p:nth-child(2), .catty-music div:nth-child(1) p:nth-child(3){
    display: none;
  }
  /* .content{
    max-width: 100vw;
  } */
  .music-head {
    flex-direction: column;
    align-items: center;
  }
  .music-head img {
    max-width: 150px;
  }
  .catty-music {
    padding-left: 0 !important;
    text-align: center;
  }
  .catty-music div:nth-child(1) {
    margin-bottom: 1em;
  }
  .catty-music div:nth-child(1) p:first-child {
    font-size: 0.8rem;
  }
  .catty-music div:nth-child(1) p:not(:first-child) {
    font-size: 0.8rem;
  }
  .catty-music div:nth-child(2) i.fas {
    font-size: 0.8rem;
  }
  .music-list {
    padding: 1em;
  }
  li {
    justify-content: space-evenly;
    padding: 0 10px;
  }
  li p {
    flex: 0 0 50%;
  }
  li p:nth-child(3){
    text-align: end;
  }
  li span.catty-cloud {
    font-size: 0.5em;
  }
  .info, .button{
    flex:1;
  }
}
